* {
    font-family: sans-serif;
}
body {
    margin: 0;
}
header {
    background: rgba(126, 107, 119, 0.75); 
    border-bottom: 25px solid black;  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 10px;

}
header section {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}
footer {
    background: rgba(126, 107, 119, 0.75); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer section {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 20px;
}
footer h2 {
    display: inline-block;
    margin-bottom: 8px;
    margin-left: 10px;
}
.links {
    list-style: none;
    display: inline-flex;
    margin-left: 25px;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/20210703_072421.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.hero-img {
    height: 400px;
    width: auto;
    margin: 20px 35px 20px 20px;
}
.hero-inner {
    display: flex;
    margin: 30px 0 30px 60px;
    justify-content: center;
    width: 50%;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(126, 107, 119, 0.75), rgba(14, 53, 5, 0.75));
    border: solid 3px var(--verydarkblue);
    border-radius: 10px;
    height: min-content;
}
    
.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.project-center {
    text-align: center;
}
h3 {
    
}
.pro1 {
    border: 10px solid black;
    position: relative;
    display: flex;
    height: 400px;
    width: 800px;
    background-image: url("https://c.tenor.com/gQV5VzHLWQIAAAAd/among-us-sus.gif");
    background-size: cover;
    margin: 10px 20px;
}
.pro2 {
    border: 10px solid black;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 400px;
    background-image: url("https://c.tenor.com/gQV5VzHLWQIAAAAd/among-us-sus.gif");
    background-size: cover;
    margin: 10px 20px;
}
.pro3 {
    border: 10px solid black;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 400px;
    background-image: url(./images/screenshot.png);
    background-size: cover;
    margin: 10px 20px;
}
.text-overlay {
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 0;
    font-size: 2.0vmax;
    background-color: gray;
    padding: 8px;
    border: 10px solid gray;
}

.access img {
    margin: 1rem;
    width: 200px;
    height: auto;
}
#contact img {
    margin: 1rem;
    width: 500px;
    height: auto;
}
.imgs {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem;
    width: 500px;
    height: auto;
}